.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: black;
    color: white;
    padding: 10px 0 20px 0;
    height: 100px;
}

.suggestion-box{
    color: black;
    background: white;
    width: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
}

.suggestion-box > p {
    border-bottom: thin solid black;
}